.react-form{
  padding: 2em;

  form {

    label {
      display: flex;
      width: 100%;
      max-width: 100%;
      min-height: 2em;
      line-height: 2em;
      margin-bottom: 0.5em;

      .label-text{
        width: 6em;
      }

      .input-block {
        flex: 1;
        margin-left: 0.5em;
      }
      
      .error-block {
        color: red;
      }

      input{
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 6px 6px;
        background-color: rgb(245, 245, 245);
        font-size: inherit;
        border: 1px solid #999;
        border-radius: 4px;
        -webkit-appearance: none;
      }
    }

    button {
      margin: 0 3px;
      padding: 6px 8px;
    }
  }
}

.cardapp {
  font-size: 16px;
  padding: 2em;

  .github-profile {
    margin: 1em;
    img {
      width: 75px;
    }
    .info {
      display: inline-block;
      margin-left: 12px;
      .name {
        font-size: 1.25em;
        font-weight: bold;
      }
    }
  }

  form {
    border: thin solid #ddd;
    background-color: #fbfbfb;
    padding: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
  }

  input {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 3px;
    padding: 6px 8px;
    background-color: rgb(245, 245, 245);
    font-size: inherit;
    border: 1px solid #999;
    border-radius: 4px;
    -webkit-appearance: none;
  }

  button {
    margin: 0 3px;
    padding: 6px 8px;
  }

  .header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .error {
    color: red;
    text-align: center;
  }

}


  .game {
    max-width: 500px;
    margin: 0 auto;

    button {
      min-width: initial;
    }
  }

  .body {
    display: flex;
  }

  .help {
    color: #666;
    margin: 10px;
    text-align: center;
  }

  .left {
    text-align: center;
    width: 50%;
    border: thin solid #ddd;
  }

  .right {
    text-align: center;
    padding: 10px;
    width: 50%;
    border: thin solid #ddd;
  }

  .star {
    display: inline-block;
    margin: 0 15px;
  }

  .star:after {
    content: "\2605";
    font-size: 45px;
  }

  .number {
    background-color: #eee;
    border: thin solid #ddd;
    width: 45px;
    height: 45px;
    margin: 10px;
    font-size: 25px;
  }

  .number:focus, .number:active {
    outline: none;
    border: thin solid #ddd;
  }

  .timer {
    color: #666;
    margin-top: 3px;
    margin-left: 3px;
  }

  .game-done .message {
    font-size: 250%;
    font-weight: bold;
    margin: 15px;
  }
