$header-height: 136px;
$nav-height: 34px;
$subnav-height: 26px;
$footer-height: 30px;

$base-background-color: #fff;
$base-text-color: #333;

$base-background-color: #fefefe;
$primary-text-reverse-color: #ddd;


$footer-background-color: #bbb;

$invalid-color: darkred;
