<configuration>

	<appSettings>
		<add key="virtualDirPath" value="/node/carlog/" />
		<add key="NODE_ENV" value="production" />
	</appSettings>
	<system.webServer>

		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="api">
					<match url="api/*" />
					<action type="Rewrite" url="server.js" />
				</rule>
				<rule name="StaticContent" patternSyntax="ECMAScript" stopProcessing="true">
					<match url=".*" />
					<action type="Rewrite" url="assets/{C:1}" logRewrittenUrl="true" />
					<conditions>
						<add input="{REQUEST_URI}" pattern=".*?virtualDirPath\/(.*)" />
					</conditions>
				</rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{virtualDirPath}" />
        </rule>
			</rules>
		</rewrite>

	</system.webServer>

</configuration>
